# CODEOWNERS - Automatic assignment for files modified by Dependabot

# JS (npm)
package-lock.json @TheoPouletSouchard  @baptmaury

# Github Actions
.github/workflows/* @TheoPouletSouchard @baptmaury
