{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": "> 1%, not dead, maintained node versions"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties"
  ]
}
