.idea/
.DS_Store
.vscode/
*.save
.ackrc
.babelrc
.env
.env.*
.eslintrc.js
.prettierrc.js
.travis.yml
node_modules/
docs/
assets
coverage
examples
package-lock.json
rollup.config.js
test
tsconfig.json
typedoc.json
