# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Publish package

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
    - uses: actions/checkout@v4
    - name: Using Node.js 20 (LTS)
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        registry-url: 'https://registry.npmjs.org'
        cache: 'npm'
    - run: npm ci
    - name: Publish via trusted publishing
      env:
        NODE_AUTH_TOKEN: ""
        NPM_TOKEN: ""
        NPM_CONFIG_USERCONFIG: ""
      run: npm publish --provenance
